<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BuildFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>QuickVFL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>QuickVFL2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>QuickVFLUseLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D364C0D31FCE545A0032CDB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A676711FB30E8B00745929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A676901FB310CD00745929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A677371FB8335200745929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
